/* Customize the behavior for navbar */
@media only screen and (orientation: landscape) {

    /* header navbar */
    .navbar-expand-lg .navbar-toggler {
        display: none !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media only screen and (orientation: portrait) {

    /* section 1 */
    .section-1 {
        margin-top: 0 !important;
    }

    .website-tagline-txt {
        font-size: 2.5vw;
        margin-bottom: 40px;
    }

    .introduction {
        grid-template-columns: 1fr;
        margin-left: 5px;
    }

    .introduction #intro-text {
        font-size: 6vw;
        padding-left: 0.7vw;
    }

    .introduction #intro-name {
        font-size: 17vw;
    }

    .introduction #intro-description {
        font-size: 4.5vw;
        font-weight: 400;
        width: auto;
    }

    #resume-link {
        margin-top: 50px;
        margin-left: 3px;
    }

    #resume-link button {
        font-size: 2.3vw;
        padding: 15px 35px;
    }

    #section-1-img-container {
        padding-top: 0;
        margin: 100px 0;
    }

    #section-1-img-container img {
        width: 80%;
    }

    /* section 2 */

    .section-2 {
        margin-top: 200px;
    }

    .section-2 .about-me {
        padding-bottom: 120px;
    }

    #sec2-abt-txt {
        font-size: 3.5vw;
    }

    #sec2-greeting-txt {
        font-size: 6vw;
        font-weight: 800;
        padding-left: 5px;
    }

    .section-2 p {
        font-size: 2.5vw;
        padding-left: 5px;
    }

    #sec2-br-toggle-off {
        display: none;
    }

    /* section 2 character */
    .character-container #heading {
        font-size: 7vw;
        font-weight: 500;
    }

    .character {
        margin-top: 30px;
        grid-template-columns: 1fr;
    }

    #sec2-br-toggle-on {
        display: block !important;
    }

    .character ul {
        font-size: 3.7vw;
        padding-left: 10px
    }

    .character #description h1 {
        font-size: 5.3vw !important;
    }

    .character #description div {
        font-size: 4vw;
    }

    /* section 2 personal background */

    .pb-education div {
        padding-left: 0;
        font-size: 2.3vw;
    }

    .lang h1 {
        font-size: 3vw;
    }

    .lang div {
        font-size: 2.5vw;
    }

    /* section 3 */

    .section-3 .column-1 #row-1 h1 {
        font-size: 3.5vw;
    }

    .section-3 .column-1 #row-1 h2 {
        font-size: 2.3vw;
    }

    .section-3 .column-1 #row-1 h3 {
        font-size: 1.7vw;
    }

    .section-3 .column-1 #row-1 h4 {
        font-size: 1.5vw;
    }

    .section-3 .column-1 #row-1 ul {
        font-size: 1.7vw;
    }

    .section-3 .column-1 #row-2 h1 {
        font-size: 3.5vw;
    }

    .section-3 .column-1 #row-2 ol {
        font-size: 1.5vw;
    }

    .section-3 .column-2 h1 {
        font-size: 3.5vw;
    }


    /* sec3 skills progress bar */

    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }


    svg.radial-progress {
        width: 50%;
    }
}

@media only screen and (width<=1000px) {
    /* section 3 */

    .section-3 {
        margin-top: 200px !important;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 30px;
    }

    #sec3-br-toggle-off {
        display: none !important;
    }

    .section-3 .column-1 #row-1 h1 {
        font-size: 5vw;
    }

    .section-3 .column-1 #row-1 h2 {
        font-size: 3.4vw;
    }

    .section-3 .column-1 #row-1 h3 {
        font-size: 2.6vw;
    }

    .section-3 .column-1 #row-1 h4 {
        font-size: 2.4vw;
    }

    .section-3 .column-1 #row-1 ul {
        font-size: 3.3vw;
    }

    .section-3 .column-1 #row-2 h1 {
        font-size: 3.5vw;
    }

    .section-3 .column-1 #row-2 ol {
        font-size: 2.7vw;
    }

    .section-3 .column-2 h1 {
        font-size: 5vw;
    }


    /* sec3 skills progress bar */

    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills-container .skill .name {
        font-size: 0.8rem;
    }

    svg.radial-progress {
        width: 50%;
    }

}

@media only screen and (width<=800px) {

    /* section 2 personal background */
    .personal-background {
        margin-top: 60px;
        column-gap: 0;
        grid-template-columns: 1fr;
    }

    .personal-background .pb-education {
        margin-top: 0 !important;
    }

    .personal-background .div-2 {
        padding-left: 20px;
        margin-top: 50px;
    }

    .pb-education h1 {
        font-size: 7vw;
    }

    .pb-education div {
        padding-left: 0;
        font-size: 3.5vw;
    }

    .pb-scroll-out h1 {
        font-size: 5vw;
    }

    .pb-scroll-out #interest {
        font-size: 4.5vw;
    }

    .lang h1 {
        font-size: 6vw;
    }

    .lang div {
        font-size: 4.3vw;
    }

    .pb-scroll-out .interests #grid-container {
        padding-left: 0px;
    }
}


@media only screen and (width<=300px) {

    /* header navbar */
    .navbar-brand {
        font-size: medium;
    }

    .navbar-toggler-icon {
        padding: 4px;
    }
}