/* Customize the behavior for navbar */
@media only screen and (orientation: landscape) {

    /* header navbar */
    .navbar-expand-lg .navbar-toggler {
        display: none !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media only screen and (orientation: portrait) {

    /* section 1 */
    .section-1 {
        margin-top: 0 !important;
    }

    .website-tagline-txt {
        font-size: 2.5vw;
        margin-bottom: 40px;
    }

    .introduction {
        grid-template-columns: 1fr;
        margin-left: 5px;
    }

    .introduction #intro-text {
        font-size: 6vw;
        padding-left: 0.7vw;
    }

    .introduction #intro-name {
        font-size: 17vw;
    }

    .introduction #intro-description {
        font-size: 4.5vw;
        font-weight: 400;
        width: auto;
    }

    #resume-link button {
        font-size: 20px;
        padding: 10px 30px;
    }

    #section-1-img-container {
        padding-top: 0;
        margin: 100px 0;
    }

    #section-1-img-container img {
        width: 80%;
    }

    /* section 2 */

    .section-2 {
        margin-top: 200px;
    }

    .section-2 .about-me {
        padding-bottom: 120px;
    }

    #sec2-abt-txt {
        font-size: 3.5vw;
    }

    #sec2-greeting-txt {
        font-size: 6vw;
        font-weight: 800;
        padding-left: 5px;
    }

    .section-2 p {
        font-size: 2.5vw;
        padding-left: 5px;
    }

    #sec2-br-toggle-off {
        display: none;
    }

    /* section 2 character */
    .character-container #heading {
        font-size: 7vw;
        font-weight: 500;
    }

    .character {
        margin-top: 30px;
        grid-template-columns: 1fr;
    }

    #sec2-br-toggle-on {
        display: block !important;
    }

    .character ul {
        font-size: 3.7vw;
        padding-left: 10px
    }

    .character #description h1 {
        font-size: 5.3vw !important;
    }

    .character #description div {
        font-size: 4vw;
    }
}

@media only screen and (width<=300px) {

    /* header navbar */
    .navbar-brand {
        font-size: medium;
    }

    .navbar-toggler-icon {
        padding: 4px;
    }
}