header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.navbar-brand {
    font-size: large;
}

.navbar-toggler-icon {
    padding: 2px;
    background-image: none !important;
}

.navbar-toggler {
    margin-right: 3px;
    margin-bottom: 2.5px;
    padding: 0 !important;
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.website-tagline-txt {
    text-align: center;
    color: white;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 30px;
}


.introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    color: #ccff00;
}

.introduction #intro-text {
    padding-left: 0.5vw;
    font-size: 3.5vw;
    font-weight: 500;
    margin-bottom: -3.2vw;
}

.introduction #intro-name {
    font-size: 12vw;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px white;
    background: radial-gradient(circle, rgba(135, 221, 50, 1) 5%, rgba(194, 238, 16, 1) 50%, rgba(11, 227, 188, 1) 100%);
    -webkit-background-clip: text;
    background-position: 0;
    animation: intro-name 5s linear infinite;
}

@keyframes intro-name {
    100% {
        background-position: 5000px 200px;
    }
}

.introduction #intro-description {
    padding-left: 5px;
    font-size: 2.3vw;
    font-weight: 400;
}

#resume-link {
    margin-top: 30px;
    margin-left: 8px;
}

#resume-link button {
    font-size: 25px;
    font-weight: 600;
    padding: 15px 40px;
    background-color: rgb(84, 170, 224);
    color: white;
    border: none;
}

#section-1-img {
    display: flex;
    justify-content: center;
    align-items: center;
}